@{
    ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}

<div class="row" style="height:800px;">
    <div>
        <h1 class="text-center">YÖNETİM PANELİNE HOŞGELDİNİZ</h1>
        <br />
        <p class="text-center">Menülerden yapmak istediğiniz işlemi seçebilirsiniz.</p>
    </div>
</div>